@import '~antd/dist/antd.css';

.main {
  /* height: 110vh; */
}

.logo {
  height: 32px;
  font-size: 25px;
  margin: 16px;
  color: #fff;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout-sub-header-background {
  background: #141414;
}

.home-content {
  display: inline;
  width: 70vh !important;
}

.form-content {
  /* position: relative;
  left: -100px; */
  /* margin-left: -200px; */
}

.form-item {
  /* margin-bottom: 20px; */
  /* width: 70vh; */
  height: 40px;
}

.table-content {
  height: 250px;
  overflow: scroll;
}

.table-item {
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(104, 102, 102);
}
