@import '~antd/dist/antd.css';

.main {
  height: 100vh;
}

.logo {
  height: 32px;
  font-size: 25px;
  margin: 16px;
  color: #fff;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout-sub-header-background {
  background: #141414;
}
